{% extends 'base/base.html' %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for repartidor in repartidores %}
        <tr>
            <td>{{ repartidor.username }}</td>
            <td>{{ repartidor.nombre }}</td>
            <td>{{ repartidor.apellido }}</td>
            <td>{{ repartidor.correo }}</td>
            <td>
                <a href="{% url 'editar_repartidor' repartidor.pk %}" class="btn btn-warning">Editar</a>
                <form action="{% url 'eliminar_repartidor' repartidor.pk %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}